.navbar {
  list-style-type: none;
  margin: 0;
  padding: 4px;
  background-color: clear;
  position: fixed;
  top: 0;
}

.navbar-font {
  margin-top: -1%;
  font-size: 35px;
  font-weight: bolder;
  font-family: inherit;
}

.centered-text {
  text-align: center;
}

.nav-center {
  margin-right: 1in;
}

/*NAV BAR*/

.body-color {
  background-image: linear-gradient(-225deg, #a8bfff 0%, #884d80 100%);
  background-size: 100%;
  object-fit: fill;
}

.team-image-bg {
  /* chsnge the image to be translucent */
  background-image: url("./assets/sfhacksteam copy.JPG");
  background-color: transparent;
  background-attachment: fixed;

  /* opacity: 0.4; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: fill;
  margin-top: 5px;
}

.website-title {
  font-family: inherit;
  font-size: 59px;
  font-weight: bold;
  color: whitesmoke;
}

.logo {
  display: block;
  margin-right: 0.8in;
  height: 150px;
  width: 150px;
  padding: 1rem;
}

.logo2 {
  display: block;
  position: center;
  height: auto;
  width: 40%;
  min-height: 150px;
  min-width: 150px;

  padding: 1rem;
}

.nav-marg {
  margin-top: -93px;
}

.nav-marg2 {
  margin-top: -40px;
}

/*.title{
    display:
    font-family: Galano,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }*/

.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  max-width: 48rem;
  min-height: 580px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  margin-bottom: auto;
  padding: 0.7in;
  overflow: hidden;
}

h1 {
  font-family: Galano, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: #de6954;
  font-size: 8vw;
  font-weight: bold;
}
.rainbow {
  font-size: calc(25px + 2vw);
}
/* .h1 {
  font-family: Galano, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: #de6954;
  font-size: 4vw;
  font-weight: 700;
  margin-top: 120px;
} */

.place {
  font-family: "Helvetica Neue";
  letter-spacing: 0.28em;
  line-height: 1.25;
  text-transform: uppercase;
  color: white;
  margin-top: 10px;
}

.date {
  font-family: "Helvetica Neue";
  letter-spacing: 0.25em;
  line-height: 1.15;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 23px;
}

/*This is coded CSS rainbow*/

.rainbow:hover {
  -webkit-animation: rainbow 1s infinite;
  -ms-animation: rainbow 1s infinite;
  -o-animation: rainbow 1s infinite;
  animation: rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@-ms-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@-o-keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}
@keyframes rainbow {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8000;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #80ff00;
  }
  40% {
    color: #00ff00;
  }
  50% {
    color: #00ff80;
  }
  60% {
    color: #00ffff;
  }
  70% {
    color: #0080ff;
  }
  80% {
    color: #0000ff;
  }
  90% {
    color: #8000ff;
  }
  100% {
    color: #ff0080;
  }
}

.button {
  border-radius: 28px;
  border-size: 6px;
  border-color: #de6954;
  background: transparent;
  color: white;
  margin-top: 7px;
  height: 50px;
  width: 200px;
  cursor: pointer;
}

/* ABOUT */

.bgpic {
  position: relative;
}

.bg {
  top: 0;
  left: 0;
  background-attachment: fixed;
  opacity: 0.4;
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
.h2 {
  /* fill-opacity: 7%; */
  font-family: Galano, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: #de6954;
  font-size: 5vw;
  font-weight: 700;
  margin-top: 30px;
}

.about {
  overflow-x: visible;
  /* margin-top: 90px; */
}

.aboutp {
  width: 100%;
  height: 100%;
  line-height: 0.4in;
  font-family: Galano, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: justify-all;
  /* overflow: hidden; */
}

.sponsors {
  display: block;
  width: 100%;
  height: 90%;
  margin-top: 50px;
  justify-contet: inherit;
  align-items: inherit; /* HELPED FOR RESIZING AND FITTING TO SCREEN*/
}

.h1spo {
  font-family: Galano, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-top: 50px;
}

/* FOOTER */

footer .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

section {
  width: 92%;
  /* max-width: var(--ch-maxWidth); */
  margin: 1px auto;
  padding-right: 0.5in;
  text-align: inherit;
}

.footercon {
  background: linear-gradient(-225deg, #a8bfff 0%, #884d80 100%);
  padding-top: 20px;
  padding-bottom: 30px;
  flex-grow: 1;
}

.footercol {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto;
}

.footericons {
  color: #de6954;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.rows {
  display: flex;
  flex-direction: row-reverse;
  color: #de6954;
  font-weight: 400;
  padding-right: 0.2in;
  padding-left: 0.2in;
  padding-top: 0.2in;
}

/* FAQ */

.flex-container {
  list-style: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  overflow-x: scroll;
  height: 100vh;
}

.flex-item {
  background: #de6954;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 10px;
}

/* FAQ */

.faqcontainer {
  position: relative;
  width: 50%;
}

.faqimage {
  display: block;
  width: 75%;
  height: auto;
  margin: 15px;
}

.overlay {
  position: relative;
  height: 95%;
  width: 80%;
  opacity: 0;
  transition: 0.9s ease;
  background-color: #de6954;
  font-family: Courier;
  color: #de6954;
}

.faqcontainer:hover .overlay {
  opacity: 1;
}

.faqflex {
  position: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 66rem;
  margin: auto;
  height: 90vh;
  overflow-x: scroll;
}

.faqh1 {
  text-align: center;
  font-size: 5vh;
  margin: 30px;
}

.ques {
  font-family: Galano, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: calc(10px + 0.3vw);
  font-weight: 600;
  text-align: center;
}
.faqtext {
  margin-top: 5px;
  font-family: Galano, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: calc(8px + 0.3vw);
  /* font-weight: 20; */
  /* text-align: center; */
}
