.body-color {
    background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
    height: 100vh;
}


/*NAV BAR*/

.bootstrap-container{
    background-color: aqua;
}

.navbar{
    list-style-type: none;
   /* background-color: clear;*/
    list-style-type: none;
    margin-top: 0;
    padding: 15px;
    text-align: center;

}

.sfhacks{
    font-size: 50px;
    margin-top: 6%;
    font-family:inherit;
    font-weight: 700;
    color: whitesmoke !important;
}

.sfhacks-info{
    font-size: 28px;
    font-family: inherit;
    font-weight: 300;
    color: whitesmoke;
    margin-top: 6%;
    margin-bottom: 2%;
}

.nav-container{
    position: fixed;
    display: block;
    text-align: center;

}
.nav-item1{
    position: fixed;
    background-size: contain;
    margin-top: 6%;
    font-size: 21px;
    font-weight: bold;
    color: #ffdb4d  !important;
}
.nav-item2{
    position: fixed;
    background-size: contain;
    margin-left: 11%;
    margin-top: 6%;
    font-size: 21px;
    font-weight: bold;
    color: #86b300 !important;

}


.nav-item3 {
    position: fixed;
    background-size: cover;
    margin-left: 20%;
    margin-top: 6%;
    font-size: 21px;
    font-weight: bold;
    color: cornflowerblue !important;
}

.nav-item4 {
    position: fixed;
    background-size: cover;
    margin-left: 32%;
    margin-top: 6%;
    font-size: 21px;
    font-weight: bold;
    color: deeppink !important;
}
/*.nav-item1-font{
    font-size: 23px;
    color: orangered;
    font-weight: bold;
}*/


.centered-text{
    text-align: center;

}

.bootstrap-container{
    background-color: pink;
    height: 120vh;

}

/*
.sponsors-container{
    display: flex;
    position: fixed;
    !*relative will allow page ot scroll w your image or text but fixed
     will keep it there like a sticker*!
    width: 480px;
    margin-top: 20%;
    margin-left: 35%;
    margin-right: 25%;

}

.register{
    position: relative;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 35px;
    color: #330033;

}

.dates{
    position: fixed;
    text-align: center;
    font-family: inherit;
    font-weight: normal;
    font-size: 25px;
    color: #330033;
}

.dates-container{
    display: flex;
    text-align: center;
    margin-top: 29%;
    margin-left: 5%;

}


.register-container{
    display: flex;
    align-content: center;
    margin-top: 25%;
     margin-left: auto;
     margin-right: auto;
}*/

.logo{
    display: block;
    margin: 0 auto;
    size: 400px;
}


.centered-text{
    align-content: center;
    margin: 0 auto;
}

.content-block1 {
    position: relative;
    display: inline-block;
    height: 400px;
    width: 300px;
   /* border-radius: 10%;
    !*opacity: 4;
    border-style: groove;*!*/
    margin-top: 4%;
    text-align: right ;
}

.content-block2 {
    position: relative;
    display: inline-block;
    height: 80px;
    width: 300px;
    /*border-radius: 10%;*/
    /*opacity: .5;*/
    margin-top: 4%;
    text-align: left ;
}

.content-block-font1{
    font-family: "Andale Mono";
    font-weight: bold;
    color: #330033;
    -moz-text-decoration-style: wavy;
    line-height: 2.9;
    font-size: 85%;
}


.content-block-font2{
    font-family: "Andale Mono";
    font-weight: bold;
    color:#e6e6ff;
    -moz-text-decoration-style: wavy;
    line-height: 2.9;
    font-size: 81%;

}

/*SF HACKS ANIMATION*/

.ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml15 .word {
    display: inline-block;
    line-height: 1em;
}

/*FOOTER CONTACT*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: ghostwhite;
    text-align: center;
    height: 43px;
}

.padding{
    padding-top: 35px ;
    padding-right: 17px;
    padding-left: 17px;
    padding-bottom: 50px;
}

.icon-margin{
    margin-top: .6%;
    padding-left: 7%;
    padding-right: 10% ;
}

.question-color{
    color: #330033;
}

.arrow {
    margin-top: 5%;
    font-size: 50px;
}